form {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

section {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
